:root {
    --back: #EDEDED;
    --black: #020202;
    --gray: #C0C0C0;
    --dark: #434343;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

.card {
    padding: 1em;
    width: 100%;
    max-width: 400px;
    background: var(--black);
}

.flex {
    display: flex;
}

.F-center {
    align-items: center;
    justify-content: center;
}